<!DOCTYPE html>

{% load fdroid_website_search_tags %}
{% load static %}

{% get_version as version %}
{% get_link_back as link_back %}
{% get_color_text as color_text %}
{% get_last_updated as last_updated %}
{% get_color_background as color_background %}
{% get_color_background_header as color_background_header %}
{% pagerange2 page_obj.paginator.num_pages page_obj.number as neighborpagenums %}

<html>

  <head>
    <link href="{% static "fdroid_website_search.css" %}" rel="stylesheet" />
    <link href="{% static "favicon.png" %}" rel="shortcut icon" />
    <link href="{% static "osd.xml" %}" rel="search" title="F-Droid" type="application/opensearchdescription+xml"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F-Droid
      {% if query %}
        Search: {{ query }}
      {% else %}
        Search
      {% endif %}
    </title>
  </head>

  <body>
    <div class="site-wrapper">
      <header class="site-header">
        <a class="site-title" href="{{ link_back }}">
          <img src="{% static "fdroid-logo-text.svg" %}" alt="F-Droid" />
        </a>
      </header>
      <div class="main-content">
        <div class="search-form-wrapper">
          <form method="get">
            <input type="text" class="search-input" name="q" value="{{ query }}" {% if not query %}autofocus{% endif %}/>
            {% if lang %}
              <input type="hidden" name="lang" value="{{ lang }}" />
            {% endif %}
            <input type="submit" value="search" class="material-button" />
          </form>
        </div>

        {% for result in page_obj.object_list %}
          <a class="package-header" href="{% i18n_app_url result.object %}">
            <img class="package-icon" src="{% i18n_app_icon result.object %}" />

            <div class="package-info">
              <h4 class="package-name">
                {% i18n_app_name result.object %}
              </h4>

              <div class="package-desc">
                <span class="package-summary">{% i18n_app_summary result.object %}</span><span class="package-license">{{ result.object.license }}</span>
              </div>
            </div>
          </a>
        {% empty %}
          {% if query %}
            It looks like F-Droid does not have any apps matching your search string "{{ query }}"
          {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
          <div class="pagination">
            {% if page_obj.has_previous %}
              <a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}&amp;lang={{ lang }}">
                <span class="step-links">&laquo;</span>
              </a>
            {% endif %}
            {% for i in neighborpagenums %}
              {% if i == page_obj.number %}
                <span class="step-links"><u>{{ i }}</u></span>
              {% elif i == "..." %}
                <span class="step-links">...</span>
              {% else %}
                <a href="?q={{ query }}&amp;page={{ i }}&amp;lang={{ lang }}">
                  <span class="step-links">{{ i }}</span>
                </a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}&amp;lang={{ lang }}">
                <span class="step-links">&raquo;</span>
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <footer class="site-footer">
        <div class="wrapper">
          <div class="site-description">
            <p>
            &copy; 2019-2021 F-Droid Team (F-Droid {{ last_updated }}, <a href="https://gitlab.com/fdroid/fdroid-website-search/">fdroid-website-search</a> {{ version }})
            </p>
          </div>
        </div>
      </footer>

    </div>
  </body>
</html>
